
.content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: slategrey;
}

#container {
    width: 640px;
    height: 480px;
    position: relative;
}

#canvas-webgl, #components-root {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.component {
    display: flex;
}

.component.horizontal {
    flex-direction: row;
}

.component.vertical {
    flex-direction: column;
}
