
.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: slategrey;
}

div.component {
    display: flex;
}

.component.horizontal {
    flex-direction: row;
}

.component.vertical {
    flex-direction: column;
}
